* {
  font-family: "Lato", sans-serif;
}

.bg-primary {
  background-color: #5f26ca !important;
}

.h1 {
  font-size: 60px;
}

#history {
  list-style-type: none;
}

.weather.loading {
  visibility: hidden;
  max-height: 20px;
  position: relative;
}

.weather.loading:after {
  visibility: visible;
  content: "Loading...";
  color: white;
  position: absolute;
  top: 0;
}

.row {
  height: 225px;
  font-size: 14pt;
}

.col-md-2 {
  width: 20%;
}

.inline {
  display: inline;
}
